<table id="index">
  <tr>
    <td>
      <h2>Play!</h2>
      <a href="/boards/new">Create a new board!</a>
      <p><%= @game_count %> games created</p>
    </td>
    <td class="separator">
      <img src="/images/separator.png">
    </td>
    <td>
      <h2>Program!</h2>
      Something ..
    </td>
  </tr>
</table>


