#board {
  border: 1px solid #888;
  -moz-border-radius: 15px;
  padding: 15px;
  margin-top: 20px;
}

#board td.dark, #board td.light {
  padding: 5px;
  width: 34px;
  height: 44px;
}

#board td.dark.highlightedCell {
  background-color: #ffff82;
}

#board td.light.highlightedCell {
  background-color: #ffff82;
}

#board td.dark {
  background-color: #845931;
}

#board td.light {
  background-color: #efd7ad;
}

#board td img {
  width: 34px;
  height: 34px;
}

#moves, #players {
  border: 1px solid black;
  float: right;
  font-family: Helvetica Narrow, sans-serif;
  margin: 10px;
  background-image: url(/images/bg.png);
  background-repeat: repeat-x;
  min-height: 100px;
  min-width: 140px;
  text-align: center;
}

.move_item{
  width: 100%;
}

.move_item:hover{
  background-color: #ffff82;
}

#players .hasTurn {
  background-color: #ffff82;
}

#players .playerWinner {
  background-color: #7aff7a;
}

#players .playerLoser {
  background-color: #ff7070;
}
