* {
  margin: 0px;
  padding: 0px;
}

#board {
  border-collapse: collapse;
}

#board td.dark, #board td.light {
  padding: 5px;
  width: 34px;
  height: 44px;
}

#board td.dark.highlightedCell {
  background-color: #ffff82;
}

#board td.light.highlightedCell {
  background-color: #ffff82;
}


#board td.dark {
  background-color: #845931;
}

#board td.light {
  background-color: #efd7ad;
}

#board td img {
  width: 34px;
  height: 34px;
}

#moves, #players {
  border: 1px solid black;
  padding: 10px;
  float: right;
}

#players .hasTurn {
  background-color: #ffff82;
}
