* {
  margin: 0px;
  padding: 0px;
}

#board {
  border-collapse: collapse;
  position: absolute;
  top: 100px;
  left: 100px;
}

#board td {
  padding: 5px;
  width: 34px;
  height: 44px;
}

#board td.dark {
  background-color: #845931;
}

#board td.light {
  background-color: #efd7ad;
}

#board td img {
  width: 34px;
  height: 34px;
}


